<div id="paintings">
  <% for painting in @gallery.paintings %>
    <div class="painting">
      <%= image_tag painting.image %>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <%= link_to "редагувати", edit_painting_path(painting) %> |
        <%= link_to "видалити", painting, data: { confirm: "Ви впевнені?"}, method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Додати картини", new_painting_path(:gallery_id => @gallery) %> |
  <%= link_to "Видалити Галерею", @gallery, method: :delete, data: { confirm: "Видалити галерею? Ви впевнені?" } %> |
  <%= link_to "Перейти до Галерей", galleries_path %>
</p>
