<header>
	<div class="wide">
		
	</div>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "NataliArt", root_path, id: "logo" %>
	  			<nav>
					<ul class="nav pull-right">
					  <li><%= link_to "Домівка",  root_path %></li>
					  <li><%= link_to "Галерея",    gallery_path %></li>
					  <li><%= link_to "Про мене",    about_path %></li>
					  <li><%= link_to "Контакти", contacts_path %></li>
					</ul>
				</nav>
			</div>        
	  	</div>
  	</div>	
</header>