<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title><%= yield(:title)%></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>   
   	<script data-turbolinks-track="true" src="/assets/mobilyslider.js?body=1"></script>
	<link data-turbolinks-track="true" href="/assets/slider.css?body=1" media="all" rel="stylesheet" />
	<script data-turbolinks-track="true" src="/assets/jquery.galleriffic.js?body=1"></script>
	<link data-turbolinks-track="true" href="/assets/galleries/galleriffic-2.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/galleries/jush.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/galleries/white.css?body=1" media="all" rel="stylesheet" />
	<script data-turbolinks-track="true" src="/assets/jquery.opacityrollover.js?body=1"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>    
    <div class="container b box shadows">
     	 <%= yield %>
    </div>
    <div class="container">
    	<%= render 'layouts/footer' %>
    </div>
    
  </body>
  
</html>